<a href="https://colab.research.google.com/github/Hanniix22/dataviz2025/blob/main/%E0%B8%AA%E0%B8%B3%E0%B9%80%E0%B8%99%E0%B8%B2%E0%B8%82%E0%B8%AD%E0%B8%87_Dictionary_Function_Loop_Condition_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HW1 note

In [ ]:
inp = '12:30:15-13:41:07'
inp_list = inp.split('-')
inp_list

['12:30:15', '13:41:07']

# Dictionary

In [ ]:
dict_a = {'abc':123,'def':456,'ghi':789}

In [ ]:
dict_a

{'abc': 123, 'def': 456, 'ghi': 789}

In [ ]:
dict_a['def']

456

In [ ]:
dict_b = {}

In [ ]:
dict_b['a'] = 567

In [ ]:
dict_b

{'a': 567, 'b': 123}

##การ add สมาชิกเข้าไปใน dict

In [ ]:
if 'b' not in dict_b:
    dict_b['b'] = 123

In [ ]:
dict_b

{'a': 567, 'b': 123}

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [ ]:
def print_myname():   # ตัวอย่าง function ที่ไม่มีทั้ง input และ output
    print('Wattanasak')

In [ ]:
print_myname()

Wattanasak

In [ ]:
b = print_myname()

Wattanasak

In [ ]:
b

In [ ]:
def print_fullname(surname,ID,name):        # ตัวอย่าง function ที่ มี input หลายตัว กับ output 1 ตัว
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_fullname('คลังแสง','663020039-3','วัฒนศักดิ์')

'ชื่อ วัฒนศักดิ์ นามสกุล คลังแสง รหัส 663020039-3'

In [ ]:
print_fullname(name='วัฒนศักดิ์',surname='คลังแสง',ID='663020039-3')

'ชื่อ วัฒนศักดิ์ นามสกุล คลังแสง รหัส 663020039-3'

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_fullname2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_fullname2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

### ข้อแตกต่างระหว่าง function ที่มีและไม่มี output

In [ ]:
out_printname1 = print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2') # มี output
print(out_printname1)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [ ]:
out_printname1

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

In [ ]:
out_printname2 = print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')  # ไม่มี output
print(out_printname2)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
None

In [ ]:
out_printname2

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับ input ของฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='A'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('วัฒนศักดิ์','คลังแสง','663020039-3')

ชื่อ วัฒนศักดิ์ นามสกุล คลังแสง รหัส 663020039-3
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8',grade = 'A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย')

TypeError: print_2lines_default() missing 1 required positional argument: 'ID'

# Quiz3
เขียน function ที่รับ input 1 ตัว ตาม format hh1:mm1:ss1 - hh2:mm2:ss2 และคำนวณหา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 โดยยังไม่ต้องสนใจว่า time2 สามารถข้ามไปอีกวันได้

In [ ]:
def cal_dif_secs(timeinput):
    timelist = timeinput.split('-')
    time1 = timelist[0].split(':')
    time2 = timelist[1].split(':')
    time1_sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
    time2_sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])
    dif_sec = time2_sec - time1_sec
    return dif_sec

In [ ]:
cal_dif_secs('12:30:15-13:41:07')

4252

# **Quiz5**

In [ ]:
#list วันในสัปดาห์ เรียงจาก Monday -> Sunday
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

def time_to_seconds(time_str):
    h, m, s = map(int, time_str.split(":"))
    return h * 3600 + m * 60 + s

def calc_duration_with_days(start_time, start_day, end_time, end_day):
    start_sec = time_to_seconds(start_time)
    end_sec = time_to_seconds(end_time)

    # ใช้ index() แทนการแมป
    start_day_index = weekdays.index(start_day)
    end_day_index = weekdays.index(end_day)

    # คำนวณจำนวนวันที่ห่างกันแบบวนสัปดาห์
    day_diff = (end_day_index - start_day_index) % 7

    # ถ้าวันเท่ากัน แต่เวลา end < start แปลว่าข้าม 1 สัปดาห์
    if day_diff == 0 and end_sec < start_sec:
        day_diff = 7

    total_duration = (day_diff * 24 * 3600) + (end_sec - start_sec)
    return total_duration

#  Quiz6

In [ ]:
# prompt: ถ้าเป็นวันเดียวกัน inputวันแค่1รอบ จาก #list วันในสัปดาห์ เรียงจาก Monday -> Sunday
#list วันในสัปดาห์ เรียงจาก Monday -> Sunday
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

def time_to_seconds(time_str):
    h, m, s = map(int, time_str.split(":"))
    return h * 3600 + m * 60 + s

def calc_duration_with_days(start_time, start_day, end_time, end_day):
    start_sec = time_to_seconds(start_time)
    end_sec = time_to_seconds(end_time)

    # ใช้ index() แทนการแมป
    start_day_index = weekdays.index(start_day)
    end_day_index = weekdays.index(end_day)

    # คำนวณจำนวนวันที่ห่างกันแบบวนสัปดาห์
    day_diff = (end_day_index - start_day_index) % 7

    # ถ้าวันเท่ากัน แต่เวลา end < start แปลว่าข้าม 1 สัปดาห์
    if day_diff == 0 and end_sec < start_sec:
        day_diff = 7

# ถ้าเป็นวันเดียวกัน input วันแค่ 1 รอบ
def calc_duration_same_day(start_time, end_time):
    start_sec = time_to_seconds(start_time)
    end_sec = time_to_seconds(end_time)
    return end_sec - start_sec

times_same_day = [
    "10:00:00 - 11:30:00",
    "14:15:30 - 15:00:00",
]

for line in times_same_day:
    start_time, end_time = line.split(" - ")
    duration = calc_duration_same_day(start_time, end_time)
    print(f"{start_time} - {end_time} (วันเดียวกัน) => {duration} วินาที")

# ตัวอย่างการใช้งาน calc_duration_with_days สำหรับกรณีข้ามวัน (จากโค้ดเดิม)
times_cross_days = [
    "12:30:15, Wednesday - 13:41:07, Thursday",
    "12:53:15, Monday - 00:59:25, Tuesday",
    "16:06:09, Sunday - 11:11:11, Tuesday",
    "10:06:09, Sunday - 11:11:11, Sunday",
]

for line in times_cross_days:
    part1, part2 = line.split(" - ")
    start_time, start_day = part1.split(", ")
    end_time, end_day = part2.split(", ")

    duration = calc_duration_with_days(start_time, start_day, end_time, end_day)

    print(f"{start_time}, {start_day} - {end_time}, {end_day} => {duration} วินาที")

10:00:00 - 11:30:00 (วันเดียวกัน) => 5400 วินาที
14:15:30 - 15:00:00 (วันเดียวกัน) => 2670 วินาที
12:30:15, Wednesday - 13:41:07, Thursday => 90652 วินาที
12:53:15, Monday - 00:59:25, Tuesday => 43570 วินาที
16:06:09, Sunday - 11:11:11, Tuesday => 155102 วินาที
10:06:09, Sunday - 11:11:11, Sunday => 3902 วินาที

## ตัวอย่าง Quiz 6

In [ ]:
# prompt: สร้างfunction คำนวณ จำนวน วินาที ที่แตกต่างระหว่าง input hh:mm:ss,day of the week 2ค่า

import datetime

#list วันในสัปดาห์ เรียงจาก Monday -> Sunday
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

def time_to_seconds(time_str):
    h, m, s = map(int, time_str.split(":"))
    return h * 3600 + m * 60 + s


def calc_duration_with_days(start_time_str, start_day_str, end_time_str, end_day_str):

    """
    คำนวณจำนวนวินาทีที่แตกต่างระหว่างสองเวลา รวมถึงวันในสัปดาห์

    Args:
        start_time_str (str): เวลาเริ่มต้นในรูปแบบ 'HH:MM:SS'.
        start_day_str (str): วันเริ่มต้นในสัปดาห์ (e.g., "Monday").
        end_time_str (str): เวลาสิ้นสุดในรูปแบบ 'HH:MM:SS'.
        end_day_str (str): วันสิ้นสุดในสัปดาห์ (e.g., "Thursday").

    Returns:
        int: จำนวนวินาทีที่แตกต่าง.
    """
    start_sec = time_to_seconds(start_time_str)
    end_sec = time_to_seconds(end_time_str)

    try:
        start_day_index = weekdays.index(start_day_str)
        end_day_index = weekdays.index(end_day_str)
    except ValueError:
        return "Invalid day of the week provided."

    # คำนวณจำนวนวันที่ห่างกันแบบวนสัปดาห์
    day_diff = (end_day_index - start_day_index) % 7

    # ถ้าวันเท่ากัน แต่เวลา end < start แปลว่าข้าม 1 สัปดาห์
    if day_diff == 0 and end_sec < start_sec:
        day_diff = 7

    total_duration = (day_diff * 24 * 3600) + (end_sec - start_sec)
    return total_duration

# ตัวอย่างการใช้งาน
times_cross_days = [
    "12:30:15, Wednesday - 13:41:07, Thursday",
    "12:53:15, Monday - 00:59:25, Tuesday",
    "16:06:09, Sunday - 11:11:11, Tuesday",
    "10:06:09, Sunday - 11:11:11, Sunday",
    "23:59:00, Monday - 00:00:00, Tuesday", # ตัวอย่างข้ามเที่ยงคืน
    "10:00:00, Friday - 10:00:00, Friday", # ตัวอย่างเวลาและวันเดียวกัน
    "10:00:00, Friday - 09:00:00, Friday", # ตัวอย่างเวลา end น้อยกว่า start ในวันเดียวกัน (ควรข้ามสัปดาห์)
    "10:00:00, Sunday - 10:00:00, Monday", # ตัวอย่างข้ามวันเป๊ะๆ
    "10:00:00 - 11:00:00",
    "10:06:09, Sunday - 11:11:11, ",
]

for line in times_cross_days:
    if " - " in line and ", " in line: # Check if the line has both time and day information
        part1, part2 = line.split(" - ")
        start_time_str, start_day_str = part1.split(", ")
        end_time_str, end_day_str = part2.split(", ")

        duration = calc_duration_with_days(start_time_str, start_day_str, end_time_str, end_day_str)

        print(f"{start_time_str}, {start_day_str} - {end_time_str}, {end_day_str} => {duration} วินาที")
    else:
        print(f"{start_time_str} - {end_time_str} (วันเดียวกัน) => {duration} วินาที")

12:30:15, Wednesday - 13:41:07, Thursday => 90652 วินาที
12:53:15, Monday - 00:59:25, Tuesday => 43570 วินาที
16:06:09, Sunday - 11:11:11, Tuesday => 155102 วินาที
10:06:09, Sunday - 11:11:11, Sunday => 3902 วินาที
23:59:00, Monday - 00:00:00, Tuesday => 60 วินาที
10:00:00, Friday - 10:00:00, Friday => 0 วินาที
10:00:00, Friday - 09:00:00, Friday => 601200 วินาที
10:00:00, Sunday - 10:00:00, Monday => 86400 วินาที
10:00:00 - 10:00:00 (วันเดียวกัน) => 86400 วินาที

# HW3

In [19]:
def time_difference_in_seconds(time_str1, weekday1, time_str2, weekday2=None):
    day_to_num = {'Monday': 0, 'Tuesday': 1, 'Wednesday': 2, 'Thursday': 3, 'Friday': 4, 'Saturday': 5, 'Sunday': 6}
    if weekday2 is None:
        weekday2 = list(day_to_num.keys())[(day_to_num[weekday1] + 1) % 7]

    h1, m1, s1 = map(int, time_str1.split(':'))
    h2, m2, s2 = map(int, time_str2.split(':'))
    t1 = day_to_num[weekday1] * 86400 + h1 * 3600 + m1 * 60 + s1
    t2 = day_to_num[weekday2] * 86400 + h2 * 3600 + m2 * 60 + s2

    return min(abs(t1 - t2), abs(t1 - (t2 + 604800)), abs((t1 + 604800) - t2))


# ทดสอบ
test_cases = [
    ("10:00:00", "Monday", "11:30:00", "Monday", 5400),
    ("11:30:00", "Monday", "10:00:00", "Monday", 5400),
    ("23:00:00", "Sunday", "01:00:00", None, 7200),
    ("01:00:00", "Monday", "23:00:00", "Sunday", 7200),
    ("10:00:00", "Tuesday", "11:30:00", "Thursday", 178200),
    ("11:30:00", "Thursday", "10:00:00", "Tuesday", 178200),
    ("12:00:00", "Monday", "12:00:00", "Monday", 0),
    ("12:00:00", "Monday", "12:00:00", "Tuesday", 86400),
    ("00:00:00", "Monday", "23:59:59", None, 172799),
    ("23:59:59", "Sunday", "00:00:00", "Monday", 1),
]

day_to_num_map = {'Monday': 0, 'Tuesday': 1, 'Wednesday': 2, 'Thursday': 3, 'Friday': 4, 'Saturday': 5, 'Sunday': 6}
days = list(day_to_num_map.keys())

print("\n--- การทดสอบด้วยชุดข้อมูล ---")
for i, (t1, d1, t2, d2, expected) in enumerate(test_cases, 1):
    result = time_difference_in_seconds(t1, d1, t2, d2)
    correct = "✅" if result == expected else f"❌ (Expected {expected})"
    d2_display = list(day_to_num_map.keys())[(day_to_num_map[d1] + 1) % 7] if d2 is None else d2
    print(f"Case {i}: {t1} {d1} -> {t2} {d2_display} = {result} seconds {correct}")

--- การทดสอบด้วยชุดข้อมูล ---
Case 1: 10:00:00 Monday -> 11:30:00 Monday = 5400 seconds ✅
Case 2: 11:30:00 Monday -> 10:00:00 Monday = 5400 seconds ✅
Case 3: 23:00:00 Sunday -> 01:00:00 Monday = 7200 seconds ✅
Case 4: 01:00:00 Monday -> 23:00:00 Sunday = 7200 seconds ✅
Case 5: 10:00:00 Tuesday -> 11:30:00 Thursday = 178200 seconds ✅
Case 6: 11:30:00 Thursday -> 10:00:00 Tuesday = 178200 seconds ✅
Case 7: 12:00:00 Monday -> 12:00:00 Monday = 0 seconds ✅
Case 8: 12:00:00 Monday -> 12:00:00 Tuesday = 86400 seconds ✅
Case 9: 00:00:00 Monday -> 23:59:59 Tuesday = 172799 seconds ✅
Case 10: 23:59:59 Sunday -> 00:00:00 Monday = 1 seconds ✅

## HW3 ละเอียด

In [ ]:
from datetime import datetime, timedelta

def time_difference_in_seconds(time_str1, weekday1, time_str2, weekday2=None):
    """
    Calculates the time difference in seconds between two times and weekdays.

    Args:
        time_str1: Time string for the first point ('hh:mm:ss').
        weekday1: Weekday for the first point (e.g., 'Monday').
        time_str2: Time string for the second point ('hh:mm:ss').
        weekday2: Weekday for the second point (e.g., 'Monday').
                  If None, it defaults to the day *after* weekday1.

    Returns:
        The absolute difference in seconds.
    """
    day_to_num = {'Monday': 0, 'Tuesday': 1, 'Wednesday': 2, 'Thursday': 3, 'Friday': 4, 'Saturday': 5, 'Sunday': 6}
    num_to_day = {0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'}

    # Determine the effective weekday for the second time point
    if weekday2 is None:
        next_day_num = (day_to_num[weekday1] + 1) % 7
        weekday2_effective = num_to_day[next_day_num]
    else:
        weekday2_effective = weekday2

    # Parse times and get total seconds from a common week start
    def get_total_seconds(time_str, weekday_name):
        h, m, s = map(int, time_str.split(':'))
        day_num = day_to_num[weekday_name]
        return day_num * 24 * 3600 + h * 3600 + m * 60 + s

    seconds1 = get_total_seconds(time_str1, weekday1)
    seconds2 = get_total_seconds(time_str2, weekday2_effective)

    # Calculate differences considering potential week wrap-around
    seconds_per_week = 7 * 24 * 3600

    diff_options = [
        abs(seconds1 - seconds2),
        abs(seconds1 - (seconds2 + seconds_per_week)),
        abs((seconds1 + seconds_per_week) - seconds2)
    ]

    return min(diff_options)

### **Test Cases (แก้ไขรูปแบบแล้ว)**
#เราได้ปรับ `test_cases` ให้ใช้ `None` แทนการเว้นว่างเพื่อให้ถูกต้องตามไวยากรณ์ของ Python:

test_cases = [
    ("10:00:00", "Monday", "11:30:00", "Monday", 5400),
    ("11:30:00", "Monday", "10:00:00", "Monday", 5400),
    ("23:00:00", "Sunday", "01:00:00", None, 7200), # weekday2=None -> next day: Monday
    ("01:00:00", "Monday", "23:00:00", "Sunday", 7200),
    ("10:00:00", "Tuesday", "11:30:00", "Thursday", 178200),
    ("11:30:00", "Thursday", "10:00:00", "Tuesday", 178200),
    ("12:00:00", "Monday", "12:00:00", "Monday", 0),
    ("12:00:00", "Monday", "12:00:00", "Tuesday", 24*3600),
    ("00:00:00", "Monday", "23:59:59", None, (24*3600 * 2 - 1)), # weekday2=None -> next day: Tuesday
    ("23:59:59", "Sunday", "00:00:00", "Monday", 1),
]

# Helper maps for displaying results
day_to_num_map = {'Monday':0, 'Tuesday':1, 'Wednesday':2, 'Thursday':3, 'Friday':4, 'Saturday':5, 'Sunday':6}
num_to_day_map = {0:'Monday', 1:'Tuesday', 2:'Wednesday', 3:'Thursday', 4:'Friday', 5:'Saturday', 6:'Sunday'}

print("\n--- การทดสอบด้วยชุดข้อมูล ---")
for i, (time_str1, weekday1, time_str2, weekday2_input, expected_diff) in enumerate(test_cases):
    # Call the function with the provided inputs
    calculated_diff = time_difference_in_seconds(time_str1, weekday1, time_str2, weekday2_input)

    # Determine weekday2_display for print statement clarity
    if weekday2_input is None:
        next_day_num = (day_to_num_map[weekday1] + 1) % 7
        weekday2_display = num_to_day_map[next_day_num]
    else:
        weekday2_display = weekday2_input

    status = "✅ ผ่าน" if calculated_diff == expected_diff else f"❌ ไม่ผ่าน (ค่าที่คาดหวัง: {expected_diff}, ค่าที่คำนวณได้: {calculated_diff})"

    print(f"Test Case {i+1}: {time_str1} ({weekday1}) - {time_str2} ({weekday2_display}) -> ผล: {calculated_diff} วินาที. {status}")

--- การทดสอบด้วยชุดข้อมูล ---
Test Case 1: 10:00:00 (Monday) - 11:30:00 (Monday) -> ผล: 5400 วินาที. ✅ ผ่าน
Test Case 2: 11:30:00 (Monday) - 10:00:00 (Monday) -> ผล: 5400 วินาที. ✅ ผ่าน
Test Case 3: 23:00:00 (Sunday) - 01:00:00 (Monday) -> ผล: 7200 วินาที. ✅ ผ่าน
Test Case 4: 01:00:00 (Monday) - 23:00:00 (Sunday) -> ผล: 7200 วินาที. ✅ ผ่าน
Test Case 5: 10:00:00 (Tuesday) - 11:30:00 (Thursday) -> ผล: 178200 วินาที. ✅ ผ่าน
Test Case 6: 11:30:00 (Thursday) - 10:00:00 (Tuesday) -> ผล: 178200 วินาที. ✅ ผ่าน
Test Case 7: 12:00:00 (Monday) - 12:00:00 (Monday) -> ผล: 0 วินาที. ✅ ผ่าน
Test Case 8: 12:00:00 (Monday) - 12:00:00 (Tuesday) -> ผล: 86400 วินาที. ✅ ผ่าน
Test Case 9: 00:00:00 (Monday) - 23:59:59 (Tuesday) -> ผล: 172799 วินาที. ✅ ผ่าน
Test Case 10: 23:59:59 (Sunday) - 00:00:00 (Monday) -> ผล: 1 วินาที. ✅ ผ่าน

# Quiz3.5

รับ input 2 ตัว โดยตั้งค่า default time1 เป็น 00:00:00

## HW2

วนลูป หา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 ต่อไปนี้


1. 18:09:10 - 18:25:10
2. 13:38:39 - 23:54:39
3. 16:49:58 - 18:05:58
4. 21:49:10 - 22:24:10
5. 08:52:21 - 09:25:21
6. 06:56:26 - 07:49:26
7. 12:08:05 - 12:43:05
8. 01:48:38 - 07:18:38
9. 08:51:21 - 10:17:21
10. 17:05:17 - 18:09:17

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [ ]:
for i in 'Wattanasak':
    print(i,end = '-> /\n ' )

W-> /
 a-> /
 t-> /
 t-> /
 a-> /
 n-> /
 a-> /
 s-> /
 a-> /
 k-> /

In [ ]:
for i in 'Wattanasak':
    print(i,end = '-> / ' )

W-> / a-> / t-> / t-> / a-> / n-> / a-> / s-> / a-> / k-> /

In [ ]:
for i in 'Wattanasak':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

W -> / a -> / t -> / t -> / a -> / n -> / a -> / s -> / a -> / k -> /

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

## วนลูปโดยสนใจทั้งสมาชิกและลำดับ

In [ ]:
index=0
for i in 'Wattanasak' :
    print(f'สมาชิกคือ {i} เป็นลำดับที่  {index}' )
    index += 1

สมาชิกคือ W เป็นลำดับที่  0
สมาชิกคือ a เป็นลำดับที่  1
สมาชิกคือ t เป็นลำดับที่  2
สมาชิกคือ t เป็นลำดับที่  3
สมาชิกคือ a เป็นลำดับที่  4
สมาชิกคือ n เป็นลำดับที่  5
สมาชิกคือ a เป็นลำดับที่  6
สมาชิกคือ s เป็นลำดับที่  7
สมาชิกคือ a เป็นลำดับที่  8
สมาชิกคือ k เป็นลำดับที่  9

In [ ]:
for index, i in enumerate('Wattanasak') :
    print(f'สมาชิกคือ {i} เป็นลำดับที่  {index}' )

สมาชิกคือ W เป็นลำดับที่  0
สมาชิกคือ a เป็นลำดับที่  1
สมาชิกคือ t เป็นลำดับที่  2
สมาชิกคือ t เป็นลำดับที่  3
สมาชิกคือ a เป็นลำดับที่  4
สมาชิกคือ n เป็นลำดับที่  5
สมาชิกคือ a เป็นลำดับที่  6
สมาชิกคือ s เป็นลำดับที่  7
สมาชิกคือ a เป็นลำดับที่  8
สมาชิกคือ k เป็นลำดับที่  9

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [ ]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print('  ', name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
   2  x  1  =  2
   2  x  2  =  4
   2  x  3  =  6
   2  x  4  =  8
   2  x  5  =  10
   2  x  6  =  12
   2  x  7  =  14
   2  x  8  =  16
   2  x  9  =  18
   2  x  10  =  20
   2  x  11  =  22
   2  x  12  =  24
the inner loop is end
now name1 = 3
   3  x  1  =  3
   3  x  2  =  6
   3  x  3  =  9
   3  x  4  =  12
   3  x  5  =  15
   3  x  6  =  18
   3  x  7  =  21
   3  x  8  =  24
   3  x  9  =  27
   3  x  10  =  30
   3  x  11  =  33
   3  x  12  =  36
the inner loop is end
now name1 = 4
   4  x  1  =  4
   4  x  2  =  8
   4  x  3  =  12
   4  x  4  =  16
   4  x  5  =  20
   4  x  6  =  24
   4  x  7  =  28
   4  x  8  =  32
   4  x  9  =  36
   4  x  10  =  40
   4  x  11  =  44
   4  x  12  =  48
the inner loop is end

# Quiz 7 วนลูป แสดงค่า ตัวเลขออกมาเป็นสามเหลี่ยมตามตัวอย่างนี้

ex:

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

In [ ]:
# prompt: วนลูป แสดงค่า ตัวเลขออกมาเป็นสามเหลี่ยมตามตัวอย่างนี้

for i in range(1, 6):
    for j in range(1, i + 1):
        print(i * j, end=' ')
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [ ]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [ ]:
list_friends = ['พี่บูม','ดายน์','แตงโม','ฝน','พี่เจ็ท','น้องแคมป์']

In [ ]:
print_feelings('เจมส์',list_friends)

เจมส์ คิดถึง พี่บูม
เจมส์ คิดถึง ดายน์
เจมส์ คิดถึง แตงโม
เจมส์ คิดถึง ฝน
เจมส์ คิดถึง พี่เจ็ท
เจมส์ คิดถึง น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,feeling='รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,'รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

จบ 24 มิย 67

## Dictionary (Data Structure)

โครงสร้างข้อมูลที่จัดเก็บข้อมูลโดยการอ้างอิงโดย text

วงเล็บ ```{``` ```}``` Curly Brackets

In [ ]:
Ex_dict_A = {'memberA':[1,2,3],'memberB':8,'memberC':'abc'}

In [ ]:
Ex_dict_A

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [ ]:
Ex_dict_A['memberA']

[1, 2, 3]

In [ ]:
Ex_dict_A['memberA'][1]

2

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [ ]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [ ]:
name_grade['ปนัดดา']

'A'

In [ ]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [ ]:
name_grade.values()

dict_values(['B', 'C', 'A', 'F'])

In [ ]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [ ]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

## HW2 Example

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"]]

def time_to_second(time1,time2):
    time1_list = time1.split(':')
    time2_list = time2.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    time2_sec = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])
    return(time2_sec - time1_sec)

for time1,time2 in time_list:
  diff_seconds = time_to_second(time1,time2)
  print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds

In [ ]:
time1 = "18:09:10"
time2 = "00:25:10"
diff_seconds = time_to_second(time1,time2)
print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 00:25:10 is -63840 seconds

# Conditional statemet คือ ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยวข้อ Boolean (True,False)

In [ ]:
condition_1 = True
condition_2 = False

### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

## ==, !=,>=,<=,<,> Operator ของตัวเลข

In [ ]:
def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    return time1_sec

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"],["18:51:21", "00:17:21"],
    ["17:05:17", "11:09:17"],]

In [ ]:
for time1,time2 in time_list:

    if time_to_second(time1) < time_to_second(time2): #ถ้า time1 น้อยกว่า time2
        diff_seconds = time_to_second(time2) - time_to_second(time1)
    else: #ถ้า time1 ไม่น้อยกว่า time2
        diff_seconds = (time_to_second(time2)+(24*60*60)) - time_to_second(time1)

    print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds
Time difference between 18:51:21 - 00:17:21 is 19560 seconds
Time difference between 17:05:17 - 11:09:17 is 65040 seconds

# HW3 เพิ่ม ฟังก์ชั่นแปลงวินาทีกลับมาเป็น ชั่วโมง นาที วินาที โดยไม่ใช่ฟังก์ชั่นช่วยเหลืออื่นๆของ python (~~import~~) ถ้าส่วนของ ชั่วโมง นาที วินาที เป็นศูนย์ ไม่ต้องแสดง

# HW 4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

## ```&```, ```|```, ```in```, ```is```   :  Operator อื่นๆ

In [ ]:
if (1>0) & (0>-1):
    print(True & True)

True

In [ ]:
if 'T' in 'Thanapong':
    print('T in Thanapong')

T in Thanapong

In [ ]:
def return_nothing(x):
    x = x+1

In [ ]:
a = return_nothing(5)

In [ ]:
if a is None:
    print('x is null')

x is null

# Finish